body {
  text-align: center;
}

h1, h2, h3 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

#title {
  padding-bottom: 3%;
  text-align: left;
}

/* HEADINGS */
.title-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* CONTAINER STYLES */
.container-fluid {
  padding: 7% 15%;
}

/* DEFAULT SECTIONS STYLES */
.color-bg {
  background-color: #ff4c68;
  color: white;
}

.white-bg {
  background-color: white;
  color: black;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.image-container {
  position: relative;  /* need to position container image div to relative so that image does not take too much space */
}

/* FEATURES SECTION */
#features {
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 4.5%;
}

.feature-header {
  font-size: 1.5rem;
}

/* Font Awesome font colors in features section */
.color-font {
  color: #ff4c68;
  margin-bottom: 10px;
}

.color-font:hover {
  color: #ef8172;
}

/* TESTIMONIAL SECTION */
#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* PRESS SECTION */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

#press > img {
  width: 10%;
  margin: 30px 30px 50px;
}

/* PRICING SECTION */
#pricing {
  padding: 100px;
}

.price-header {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CALL TO ACTION SECTION */


/* FOOTER SECTION */

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

#title {
  text-align: center;
}

.title-image{
  position: static;
  transform: rotate(0);
}
}