body {
    font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: white;
  padding-bottom: 3%;
}

h1 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15% 9%;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}

/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.image-container {
  position: relative;  /* need to position container image div to relative so that image does not take too much space */
}

/* features section */
#features {
  background-color: white;
  text-align: center;
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.feature-box {
  /* margin-bottom: 10%; */
  padding: 0 5%;
}

.feature-box > h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.feature-box > p {
  color: #8f8f8f;
}

/* Font Awesome font colors in features section */
.color-font {
  color: #ff4c68;
  margin-bottom: 10px;
}

.color-font:hover {
  /* color: #ff9999; */
  color: #ef8172;
}

/* testimonial section */
#testimonials {
  background-color: #ef8172;
  padding: 7% 15%;
  text-align: center;
  color: #fff;
}

#testimonials > h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* press section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#press > img {
  width: 10%;
  margin: 30px 30px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action Section */
#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}

#cta > h3 {
  font-family: "Montserrat";
  color: white;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* footer section */
#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}